$blue: #173F71;
$green: #25694B;
$neutral: #fff8e8;
$second-neutral: #FFECBF;
$second-neutral-shadow: #deca9b;
$white: #f6f8ef;
$black: #1c1c1b;
$yellow: #fce177;

$xxlarge: 2.488rem;
$xlarge: 2.074rem;
$large: 1.44rem;
$small: 0.833rem;
